
<div class="main">

  <div class="main-screen">

    <div class="main-head">
      <div class="main-title">
        Recre<span class="main-title-u">U</span>
      </div>

      <div class="main-subtitle">
        "Explora nuevas actividades y participa de experiencias inolvidables"
      </div>
    </div>

    <a class="btn btn-primary btn-large btn-block" ng-click="hide(); go('sign_up')">EMPIEZA YA!</a>
    <a class="btn btn-success btn-large btn-block" ng-click="go('log_in')">INICIA SESIÓN</a>

  </div>
</div>

