
  <!-- Jumbotron -->
  <div class="jumbotron u-jumbotron" >
    <div class="contenido">
      <h1>¡Bienvenido a Recreu!</h1>
      <p>La aplicación tanto web como movil que permite a sus usuarios orgarnizar y/o paticipar en actividades recreativas de cualquier índole dentro de los limites de nuestra universidad. Expande tus fronteras, forma nuevas amistades y convierte tu vida universitaria en una experiencia más amena.</p>
    </div>
  </div>

  <!-- Menu -->
  <div class="navbar-menu">

    <div class="btn-group btn-group-justified">
      <a class="btn btn-recreU selected "><i class="fa fa-globe fa-3x" style="margin-bottom: 5px;"></i><br>Explorar</a>
      <a class="btn btn-recreU"><i class="fa fa-futbol-o fa-3x"  style="margin-bottom: 5px;"></i><br>Mis Actividades</a>
      <a class="btn btn-recreU"><i class="fa fa-exclamation-circle fa-3x"  style="margin-bottom: 5px;"></i><br>Notificaciones</a>
    </div>

  </div>
</div>