<div class="botones_principales">
	<div class="btn-group btn-group-justified btn-group-custom">
	  <a class="btn btn-recreU" ng-click="go('explora');" ng-class="{'selected': btn_explore_selected}"><i class="fa fa-globe fa-3x" style="margin-bottom: 5px;"></i><br>Explorar</a>
	  <a class="btn btn-recreU" ng-click="go('explora/mis_actividades');" ng-class="{'selected': btn_mis_actividades_selected}"><i class="fa fa-futbol-o fa-3x"  style="margin-bottom: 5px;" ></i><br>Mis Actividades</a>
	  <a class="btn btn-recreU " ng-click="go('explora/mis_notificaciones');" ng-class="{'selected': btn_notificaciones_selected}"><i class="fa fa-exclamation-circle fa-3x"  style="margin-bottom: 5px;" ></i><br>Notificaciones</a>  
	</div>
</div>
